services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-app:8.2
    container_name: laravel_app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      WWWUSER: "${WWWUSER:-1000}"
      LARAVEL_SAIL: 1
      XDEBUG_MODE: "${SAIL_XDEBUG_MODE:-off}"
      XDEBUG_CONFIG: "${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}"
    volumes:
      - ./:/var/www/html
    networks:
      - laravel_net
    depends_on:
      - mariadb

  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel_net

  mariadb:
    image: mariadb:10.11
    container_name: laravel_db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: laravel_app
      MYSQL_USER: root
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel_net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: laravel_phpmyadmin
    ports:
      - "8082:80"
    environment:
      PMA_HOST: mariadb
      MYSQL_ROOT_PASSWORD: password
    networks:
      - laravel_net

networks:
  laravel_net:
    driver: bridge

volumes:
  db_data:
    driver: local
