openapi: 3.1.0

info:
  version: 1.0.0
  title: Pokemon Info Service API
  description: >
    API do pobierania informacji o Pokemonach, zarządzania zakazaną listą,
    tworzenia własnych Pokemonów oraz pobierania informacji z oficjalnego PokeAPI.
servers:
  - url: http://localhost:8081/api

components:
  securitySchemes:
    SecretKey:
      type: apiKey
      in: header
      name: X-SUPER-SECRET-KEY

  # --- SHARED RESPONSE

  schemas:

    ApiResponseSuccess:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          nullable: true
        message:
          type: string
          nullable: true
      required: [status]

    ApiResponseError:
      type: object
      properties:
        status:
          type: string
          example: error
        message:
          type: string
        code:
          type: integer
        errors:
          type: object
          nullable: true
      required: [status, message]

    # --- DOMAIN MODELS

    BannedPokemon:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CustomPokemon:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        height: { type: integer }
        weight: { type: integer }
        base_experience: { type: integer }
        created_at: { type: string }
        updated_at: { type: string }

    # ---INFO ENDPOINT MODELS

    InfoRequest:
      type: object
      required: [names]
      properties:
        names:
          type: array
          items:
            type: string
          example: ["pikachu", "mewtwo"]

    PokemonInfoData:
      type: object
      properties:
        name: { type: string }
        height: { type: integer }
        weight: { type: integer }
        base_experience: { type: integer }
        source:
          type: string
          enum: [official, custom]

    InfoResponseData:
      type: object
      properties:
        requested:
          type: array
          items: { type: string }
          example: ["pikachu", "mewtwo"]
        banned:
          type: array
          items: { type: string }
          example: ["mewtwo"]
        allowed:
          type: array
          items:
            $ref: "#/components/schemas/PokemonInfoData"

paths:

  # --- BANNED POKEMON
  /banned:
    get:
      tags: [Zakazane Pokemony]
      summary: Pobierz listę zakazanych Pokemonów
      security:
        - SecretKey: []
      responses:
        "200":
          description: Lista zakazanych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseSuccess"

    post:
      tags: [Zakazane Pokemony]
      summary: Dodaj Pokemona do zakazanych
      security:
        - SecretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        "201":
          description: Dodano
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseSuccess"
        "409":
          description: Już istnieje
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseError"

  /banned/{name}:
    delete:
      tags: [Zakazane Pokemony]
      summary: Usuń Pokemona z listy zakazanych
      security:
        - SecretKey: []
      parameters:
        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:
        "204":
          description: Usunięto
        "404":
          description: Nie znaleziono
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseError"

  # --- PUBLIC INFO
  /info:
    post:
      tags: [Informacje o Pokemonach]
      summary: Pobierz informacje o wielu Pokemonach
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InfoRequest"
      responses:
        "200":
          description: Dane o Pokemonach
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponseSuccess"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/InfoResponseData"

  # --- CUSTOM POKEMON (PRIVATE)
  /custom:
    get:
      tags: [Prywatne Pokemony]
      summary: Pobierz własne Pokemony
      security:
        - SecretKey: []
      responses:
        "200":
          description: Lista Pokemonów
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseSuccess"

    post:
      tags: [Prywatne Pokemony]
      summary: Dodaj własnego Pokemona
      security:
        - SecretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, height, weight, base_experience]
              properties:
                name: { type: string }
                height: { type: integer }
                weight: { type: integer }
                base_experience: { type: integer }
      responses:
        "201":
          description: Utworzono
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseSuccess"
        "409":
          description: Konflikt (np. istnieje w PokeAPI)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseError"

  /custom/{id}:
    get:
      tags: [Prywatne Pokemony]
      summary: Pobierz własnego Pokemona
      security:
        - SecretKey: []
      parameters:
        - name: id
          in: path
          schema: { type: integer }
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseSuccess"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseError"

    put:
      tags: [Prywatne Pokemony]
      summary: Zaktualizuj Pokemona
      security:
        - SecretKey: []
      parameters:
        - name: id
          in: path
          schema: { type: integer }
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                height: { type: integer }
                weight: { type: integer }
                base_experience: { type: integer }
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseSuccess"

    delete:
      tags: [Prywatne Pokemony]
      summary: Usuń Pokemona
      security:
        - SecretKey: []
      parameters:
        - name: id
          in: path
          schema: { type: integer }
      responses:
        "204":
          description: Usunięto
